{% extends "base.html" %}

{% block contents %}

<div class="container-fluid">
  <div class="row mt-5 mb-3">
    <h3 class="one">Images</h3>
    <a class="btn btn-primary ml-auto" href="/image/upload">Upload</a>
  </div>
</div>

<div class="row">

    <div class="col-md-12">

        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Key</th>
            </tr>
          </thead>
          <tbody>
            {% for image in page_obj %}
              <tr>
                <td><a href="/image/{{ image.id }}">{{ image.image|upper }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>
</div>
{% endblock %}


