{% extends "base.html" %}

{% block contents %}

<div class="container-fluid">
  <div class="row mt-5 mb-3">
    <h3 class="one">Image: {{ object.image }}</h3>
    <button class="btn btn-primary ml-auto">Upload</button>
  </div>
</div>


<div class="row">

    <div class="col-md-12">

       <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
                <th scope="col">Label</th>
                <th scope="col">Confidence</th>
            </tr>
          </thead>
          <tbody>
            {% for l in object.labels %}
              <tr>
                <td>{{ l.label }}</td>
                <td>{{ image.confidence }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

</div>
{% endblock %}


